/* 基本設定 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    color: #333;
    text-align: center;
}

/* ヘッダー */
header {
    background-color: #ff5e5e; /* 明るい赤色 */
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

h1 {
    font-size: 2.5rem;
    color: white;
    font-weight: 600;
}

/* メインコンテンツ */
.main-content {
    margin: 0 auto;
    max-width: 600px;
    padding: 20px;
}

button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 18px;
    font-weight: bold;
    background-color: #ff8c00; /* オレンジ色 */
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin: 20px;
}

button:hover {
    background-color: #ff6a00; /* 少し暗くする */
    transform: scale(1.05);
}

#closeButton {
    background-color: #d1d1d1;
}

#closeButton:hover {
    background-color: #b3b3b3;
}

/* アドレスと残高の情報 */
#balanceInfo {
    background-color: #ffffff; /* 白背景 */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    display: inline-block;
    width: 80%;
    max-width: 400px;
}

p {
    font-size: 1.2rem;
    font-weight: 500;
    color: #333;
    margin-bottom: 15px;
}

#accountAddress {
    font-size: 1.5rem;
    font-weight: 600;
    color: #ff5e5e;
    margin-top: 20px;
    letter-spacing: 0.5px;
}

#ethBalance, #audBalance, #jpyBalance {
    font-size: 1.2rem;
    color: #ff8c00;
    font-weight: bold;
}

#ethBalance {
    margin-top: 15px;
}

#audBalance, #jpyBalance {
    margin-top: 10px;
}

/* 背景画像 */
body {
    background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.istockphoto.com%2Fphotos%2Fcow&psig=AOvVaw3qaHXyLnlOpmmq1cbM9pXh&ust=1738726699284000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCICn1-yLqYsDFQAAAAAdAAAAABAO');
    background-size: cover; /* 背景を画面いっぱいに広げる */
    background-position: center;
    background-attachment: fixed; /* スクロールしても背景が動かない */
    font-family: 'HappyFont', sans-serif;
}
